$font-path: '../fonts/OpenDyslexic';

@font-face {
  font-family: 'OpenDyslexic';
  src: url('#{$font-path}OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('#{$font-path}OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('#{$font-path}OpenDyslexic-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('#{$font-path}OpenDyslexic-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('#{$font-path}OpenDyslexicAlta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('#{$font-path}OpenDyslexicAlta-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('#{$font-path}OpenDyslexicAlta-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('#{$font-path}OpenDyslexicAlta-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexicMono';
  src: url('#{$font-path}OpenDyslexicMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
